.text-classification-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-classification-title {
  font-size: 26px;
  font-weight: 700;
}

.text-classification-instructions {
  font-size: 18px;
  font-weight: 500;
}

.text-game-score-title {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0 5px 0;
}

.text-game-score {
  font-size: 40px;
  font-weight: 700;
  color: red;
  margin-top: 0;
}

.text-game-prompt {
  font-size: 24px;
  font-weight: 600;
  margin-top: 100px;
}

.text-game-current-word {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-game-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-game-timer {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
